[submodule "bunker_ros"]
	path = bunker_ros
	url = git@github.com:davesarmoury/bunker_ros.git
[submodule "bunker_extras"]
	path = bunker_extras
	url = git@github.com:davesarmoury/bunker_extras.git
[submodule "ugv_sdk"]
	path = ugv_sdk
	url = git@github.com:agilexrobotics/ugv_sdk.git
